*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.wrap-img{
    position: absolute;
    width: 120%;
    height: 130%;
    transform: translateX(-10%) translateY(-15%);
}
.curtain{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.title{
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color:gold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h3{
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.card p{
    font-size: 22px;
    text-align: center;
    font-weight: 800;
}
.btn{
    width: 240px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: seagreen;
    height: 40px;
}
.btn:hover{
    box-shadow: 0 0 10px darkslategrey;
}

.search{
    width: 240px;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;;
}
.content-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 350px){
    .card{
        width: 200px;
        height: 200px;
    }
    .card h3{
        font-size: 24px;
    }
    .card p{
        font-size: 20px;
    }
    .btn{
        width: 190px;
    }
    .search{
        width: 190px;
    }
    .title{
        font-size: 32px;
    }
}